* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.upper {
    background-color: #1f2937;
}

.upper-inner {
    max-width: 1252px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    height: 70px;
    padding: 0px 100px;
}

.header > p {
    font-size: 24px;
    font-weight: 900;
}

.nav-links > ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    max-width: 500px;
    max-height: auto;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;  
    padding: 100px;
}

.hero-text > h3 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text > p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 8px;
    margin: 20px 0px;
}

.hero-text > button:hover {
    color: #1F2937;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
}

.title > h3 {
    padding: 40px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.tile {
    max-width: 150px;
    flex: 1;
    color: #1F2937;
}

.tile > img {
    width: 150px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    font-size: 36px;
}

.words {
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.quote-text {
    display: flex;
    flex-direction: column;
    max-width: 1252px;
    margin: auto;
    padding: 100px;
}

.attribution {
    align-self: flex-end;
}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 30px 50px;
    margin: 80px 80px;
    color: #F9FAF8;
}

.cta-button > button {
    border-radius: 8px;
    border: 2px solid #F9FAF8;
}

.cta-button > button:hover {
    color: #1F2937;
    border: 2px solid #1F2937;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    height: 90px;
}